<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><HTML>
<HEAD>
<!-- hennerik CVSweb $Revision: 1.112 $ -->
<TITLE>glimmer-example/example.config - view - 1.3</TITLE></HEAD>
<BODY BGCOLOR="#eeeeee">
<table width="100%" border=0 cellspacing=0 cellpadding=1 bgcolor="#9999ee"><tr valign=bottom><td><a href="example.config?cvsroot=glimmer#rev1.3"><IMG SRC="/icons/cvsweb/back.gif" ALT="[BACK]" BORDER="0" WIDTH="20" HEIGHT="22"></a> <b>Return to <A HREF="example.config?cvsroot=glimmer#rev1.3">example.config</A>
 CVS log</b> <IMG SRC="/icons/cvsweb/text.gif" ALT="[TXT]" BORDER="0" WIDTH="20" HEIGHT="22"></td><td align=right><IMG SRC="/icons/cvsweb/dir.gif" ALT="[DIR]" BORDER="0" WIDTH="20" HEIGHT="22"> <b>Up to  <a href="/cgi-bin/cvsweb.cgi/?cvsroot=glimmer#dirlist">[glimmer]</a> / <a href="/cgi-bin/cvsweb.cgi/glimmer-example/?cvsroot=glimmer#dirlist">glimmer-example</a></b></td></tr></table><HR noshade><table width="100%"><tr><td bgcolor="#ffffff">File:  <a href="/cgi-bin/cvsweb.cgi/?cvsroot=glimmer#dirlist">[glimmer]</a> / <a href="/cgi-bin/cvsweb.cgi/glimmer-example/?cvsroot=glimmer#dirlist">glimmer-example</a> / <a href="/cgi-bin/cvsweb.cgi/glimmer-example/example.config?cvsroot=glimmer">example.config</a>&nbsp;(<A HREF="/cgi-bin/cvsweb.cgi/~checkout~/glimmer-example/example.config?rev=1.3&amp;cvsroot=glimmer" target="cvs_checkout" onClick="window.open('/cgi-bin/cvsweb.cgi/~checkout~/glimmer-example/example.config?rev=1.3','cvs_checkout','resizeable,scrollbars');"><b>download</b></A>)<BR>
Revision <B>1.3</B>, <i>Mon Feb  5 13:51:16 2007 UTC</i> (20 months, 2 weeks ago) by <i>fhebeler</i>
<BR>CVS Tags: <b>HEAD</b><BR>Changes since <b>1.2: +2 -0
 lines</b><PRE>
updated example.config to use EISMINT 1
</PRE>
</td></tr></table><HR noshade><PRE># configuration for the EISMINT-1 test-case
# moving margin

[EISMINT-1 moving margin]

[grid]
# grid sizes
ewn = 31
nsn = 31
upn = 11
dew = 50000
dns = 50000

[options]
temperature = 1
flow_law = 2
isostasy = 0
sliding_law = 4
marine_margin = 2
stress_calc = 2
evolution = 2
basal_water = 2
vertical_integration = 0

[time]
tend = 200000.
dt = 10.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1
geothermal = -42e-3

[CF default]
title: EISMINT-1 moving margin

[CF output]
name: example.nc
frequency: 1000
variables: thk uflx vflx bmlt temp uvel vvel wvel

</PRE>